/* header */
a{
    text-decoration: none;
}
.header{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0,1);
    padding: 0 40px;
    background: var(--color-bg1);
    position: fixed;
    z-index: 9999;
    top:0;
    left:0;
    width: 100%;
}

.header .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner-logo img{
    width: auto;
    height: 100px;
    z-index: 10;
    
}
.header .inner-logo a{
    display: flex;
    align-items: center;
}
.header .inner-logo span{
    margin-left: 15px;
    color: var(--color-title);
    font-size: 25px;
    font-weight: 700;
}
.header .inner-menu ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.header .inner-menu ul li a{
    display: block;
    padding: 35px 20px;
    font-size: 18px;
    color: var(--color-title);
    
}
.header .inner-menu ul li a:hover{
    background: #fff;
    color:orange;
}
.header .inner-menu ul li a span{
    display: inline-block;
    font-size: 12px;
    margin-left: 3px;
}
/* CSS CHO DROPDOWN PHAN SẢN PHÂM */
.header .inner-menu ul li{
    position: relative;
}
.header .inner-menu .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.header .inner-menu .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header .inner-menu .dropdown-content a:hover{
    background-color: #f1f1f1;
}
.header .inner-menu .dropdown:hover{
    display: block;
}


/* end css dropdown */
.header .inner-soict.float-right{
    float:right;
}
.header .inner-soict .btn-action-header{
    font-size: 24px;
    color:#fff;
    margin-left: 30px;
}
.header .inner-soict .btn-action-header:hover{
    color: orange;
}
.header .inner-soict .modal-header .modal-title{
    color:#000;
    font-size: 30px;
    font-weight: 600;
   
}
.header .inner-soict .form-group .user_name{
    color: var(--color-bg1);
}
.header .inner-soict .form-group .required{
    color:red;
}
.header .inner-soict .input-login{
    position: relative;
}
.header .inner-soict .input-login .inner-icon{
    position: absolute;
    top:10px;
    left: 15px;
}
.header .inner-soict .input-login .inner-icon i{
    font-size: 1.33333em;
    line-height: .75em;
}
.header .inner-soict .input-pass{
    position: relative;
}
.header .inner-soict .input-pass .inner-icon{
    position: absolute;
    top: 10px;
    left: 15px;
}
.header .inner-soict .input-pass .inner-icon i{
    font-size: 1.33333em;
    line-height: .75em;
}
.header .inner-soict .input-pass .inner-icon i:before{
    content: "\f023";
}
.header .inner-soict .inner-button{
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: var(--color-bg1);
}
.header .inner-soict .inner-button:hover{
    background: #5EB86D;
}
.header .inner-soict .inner-desc{
    margin-left: 15px;
    margin-bottom: 10px;
    
}
.header .inner-soict .inner-wrap{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .inner-soict .inner-wrap .desc{
    color: var(--color-bg1);
    margin-left: 10px;
}
/* .header .inner-soict .inner-header{
    position: relative;
   
}
.header .inner-soict .inner-header .fa-magnifying-glass{
    display: none;
}
.header .inner-soict .inner-header i{
    text-align: center;
    font-size: 24px;
    vertical-align: middle
} */

/* section-one  */
.section-one{
    padding: 150px 0;
    background:#EFEFEF;
}
.section-one .inner-title{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
    color:#000;
}
.section-one .inner-box{
    border:1px solid var(--color-bg1);
    border-radius: 8px;
    overflow: hidden;
}
.section-one .inner-images img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: all 0.6s;
}
.section-one .inner-images img:hover{
    transform: scale(1.1);
}

/* end section-one  */
/* section-two  */
.section-two{
    padding: 60px 0;
}
.section-two.container{
    max-width: 1440px;
}
.section-two .inner-head{
    display: flex;
    position: relative;
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.section-two .inner-head .inner-title{
    font-size: 30px;
    color: #0773B9;
}

 @media (min-width:1200px){
    .col-xl-20{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        position: relative;
         width: 100%;
         padding-right: 15px;
         padding-left: 15px;
    }
 }
 .section-two .tab-content .box{
    width: 100%;
    height: 100%;
    border: 1px solid #333333;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
 }
 .section-two .tab-content .inner-images{
    overflow: hidden;
 }
 .section-two .tab-content img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
 }

 /* end section-two  */

 /* .section-three  */
 .section-three{
    padding: 60px 0;
 }
 .section-three .inner-head{
    text-align: center;
    margin-bottom: 20px;
 }
 .section-three .inner-head .inner-title{
    font-size: 40px;
    font-weight: 700;
    color:var(--color-bg1);
    
 }
 .section-three .inner-head .inner-line{
    width: 100px;
    height: 3px;
    background: -webkit-linear-gradient(-30deg, #f57f20, #d62b08 100%);
    margin: 0 auto;
 }
 .section-three .inner-head .inner-desc{
    
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 10px;
    color:#000;
 }
 @media (min-width:1200px){
    .menu-grid>div {
        flex: 0 0 20%;
        max-width: 20%;
    }
 }
 .section-three .inner-grid__item{
    text-align: center;
    margin-bottom: 25px;
    
 }
 .section-three .inner-grid__item-images{
    display: block;
    width: 150px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 auto
 }
 .section-three .inner-grid__item-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.1s;
 }
 .section-three .inner-grid__item-images img:hover{
    transform: scale(1.1);
 }
 .section-three .inner-grid__item-title{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 35px;
    margin-left: 25px;
 }
end

